
div.logo {
    width: 200px;
    height: 100px;
    align-content: last baseline;
}

div.pattern {
    background-color: rgb(42, 123, 181); 
    height: 100px;
    background-image:url('img/pattern.png');
    background-size: contain;
  }