/* upper line */
div.logo {
    width: 180px;
    height: 90px;
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}


div.pattern {
    background-color: rgb(99, 164, 238); 
    height: 100px;
    background-image:url('img/pattern.png');
    background-size: 400px;
}
/* /upper line */

/* titolo articolo */
h1{
    margin-bottom: 5px;
}

.grigio{
    color: gray;
    margin-top: 0px ;
}

.azzurrino{
    color:mediumturquoise;
}

.piccolo{
    font-size: 12px  ;
}
/* /titolo articolo */

.sottolineato{
    background-color: yellow;
}

p{
    margin-bottom: 30px;
}

ul{
    padding-left: 15px;
}

/* tabella */
table{
    border-collapse: collapse;
}

thead{
    background-color:dodgerblue;
    color: white;
}

th{
    text-align: left;
    width: 250px;
    font-weight:lighter;
}

.terzo{
    width: 600px;
}

tbody{
    background-color: lightskyblue;
}

.bianco{
    background-color: white;
}
/* /tabella */